*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App{
   
    background: linear-gradient(#e66465, #9198e5);
}

.courseMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.courseTitle{
    margin: 20px;
    color:rgb(61, 41, 78);
}
.cardDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 350px;
    padding: 30px;
    border: 1px solid rebeccapurple;
    border-radius: 30px 30px;
    line-height: 20px;
}
.cardPrice{
    font-style: italic;
    color: rgb(190, 29, 29);
    line-height: 40px;
}
.cardDeleteBtn{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    margin-top: 15px;
}

.refleshDiv{
    text-align: center;
}